@using BaseController = OsosOracle.Framework.Web.Mvc.BaseController
@{

    var mesajlar = new List<BaseController.Mesaj> { };

    if (TempData["Mesajlar"] != null)
    {
        mesajlar = (List<BaseController.Mesaj>)TempData["Mesajlar"];
    }
    var mesajIconlar = new List<string>
{ "minus-circle",
"check-circle",
"info-circle",
"warning"

};
    var mesajclasslar = new List<string>
{ "danger",
"success",
"info",
"warning"

};


}
@foreach (var msg in mesajlar)
{

    <div class="alert alert-@mesajclasslar[msg.Tip.GetHashCode()] autohide-@msg.AutoHide.ToString()">
        <button type="button" class="close" data-dismiss="alert" title="@_T("Kapat")">&times;</button>
        <p>
            <i class="fa fa-2x fa-@mesajIconlar[msg.Tip.GetHashCode()] pull-left"></i>
            @Html.Raw(msg.Msg)
        </p>
    </div>

}

@*@if (mesajlar.FindAll(t => t.AutoHide).Count > 0)
    {
        <script type="text/javascript">
            $(function () {
                setTimeout(function () {
                    $("div.autohide-True").hide();
                }, 20000);
            });

        </script>
    }*@
